.header {
  position: relative;
}

.heading {
  position: absolute;
  display: flex;
  content: "";
  top: 0;
  left: 10px;
  z-index: 3;
  color: #2196ed;
}

.one {
  color: #2196ed;
}
.two {
  color: #ef2163;
}
