.header {
  position: relative;
}

.heading {
  position: absolute;
  display: flex;
  content: "";
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  font-size: 2.6rem;
  letter-spacing: 1.5px;
}

.header .one {
  color: #2196f3;
  z-index: 1;
  animation: glitch 0.3s infinite alternate;
}

.header .three {
  color: #e91e63;
  z-index: 2;
  animation: glitch 0.3s infinite reverse;
}

.two {
  z-index: 3;
}

@keyframes glitch {
  0%,
  100% {
    top: 50%;
    left: 20%;
  }

  20% {
    top: 46%;
    left: 19.7%;
  }

  40% {
    top: 54%;
    left: 20.3%;
  }

  60% {
    top: 46%;
    left: 20.3%;
  }

  80% {
    top: 54%;
    left: 19.7%;
  }
}
