article {
  position: absolute;
  cursor: pointer;
}

article:hover {
  box-shadow: 0 3px 5px #2196ef;
}

.delete,
.edit {
  position: absolute;
  content: "";
  top: 10px;
  width: 5rem;
}

.edit {
  right: 6rem;
}

.delete {
  right: 5px;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  min-height: 100vh;
  overflow-y: scroll;
}

.comment-input {
  display: none;
}
